body {
    margin: 0px;
    font-family: Courier;
    max-height: 100vh;
}
#popup-container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    z-index: 3;
    pointer-events:none;
}
#map {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    z-index: 0;
}
#c {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: block;
    top: 0px;
    z-index: 1;
    pointer-events: none;
}
#controls {
    position: absolute;
    background: grey;
    top: 10px;
    right: 10px;
    z-index: 2;
    border-radius: 3px;
}
#ramp {
    position: absolute;
    bottom: 100px;
    left: 0px;
    transform: scaleY(-100);
}
.controls button {
    all: unset;
    font-weight: 600;
    width: 30px;
    text-align: center;
    border: 1px white;
    border-radius: 3px;
    background-color: #bbb;
    box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin: 10px;
    margin-right: 0px;
    user-select: none;
}
#date {
    font-weight: 600;
    border: 1px white;
    border-radius: 3px;
    background-color: #bbb;
    box-shadow: 0.5px 0.5px 3px 1px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 5px;
    margin-bottom: 0px;
}
#info {
    position: absolute;
    right: 14px;
    bottom: 13px;
    border-radius: 15px;
    border: 1px solid black;
    width: 15;
    align-content: center;
    text-align: center;
    height: 15px;
    font-style: italic;
    font-size: 13;
    background-color: #bbb;
    font-family: Arial;
}
#info:hover {
    cursor: pointer;
    background-color: #999;
}
#info-popup {
    position: absolute;
    background: grey;
    top: 100px;
    right: 0px;
    padding: 8px;
    z-index: 2;
    width: 220px;
    font-size: smaller;
    margin-top: -5px;
    border-radius: 3px;
}
button:hover {
    background-color: #999;
}
.mapboxgl-popup {
    z-index: 2 !important;
}
.mapboxgl-popup-content {
    background-color: beige !important;
    padding: 10px;
    opacity: 0.92;
}
.mapboxgl-popup-tip {
    border-top-color: beige !important;
    opacity: 0.92;
}
.mapboxgl-popup-close-button:focus {
    outline: 0px;
}
